/*
 * 2015 u451f
 */

.anaglyph, .anaglyph a {
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-ms-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
    text-shadow: -1px 0px 1px red;
    -webkit-filter: drop-shadow(2px 0px 1px cyan);
    filter: drop-shadow(2px 0px 1px cyan);
	letter-spacing: 0.1em;
}

.anaglyph a:hover {
    text-shadow: -1px 0px 1px cyan;
    -webkit-filter: drop-shadow(2px 0px 1px red);
    filter: drop-shadow(2px 0px 1px red);
}

.anaglyph-image {
	position: relative;
	max-width: 100%;
	height: auto;
	overflow: hidden;
    box-sizing: border-box;
    margin: 0 auto 2.5em;
}

.anaglyph-image img {
	width: 100%;
	height: auto;
}

.anaglyph-translate .red {
	-moz-transform: skewX(-2deg) skewY(0) translate3d(-8px,0px,0px);
	-webkit-transform: skewX(-2deg) skewY(0) translate3d(-8px,0px,0px);
    transform: skewX(-2deg) skewY(0) translate3d(-8px,0px,0px);
	transform-origin: center center;
	/*
	transform: skewX(1deg) skewY(-1deg) translate3d(-5px,0px,0px);
	transform-origin: bottom right;
	*/
}

.anaglyph-image .red {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;
}

.anaglyph-image .cyan {
    -moz-filter: url("#color_ag_cyan");
    -o-filter: url("#color_ag_cyan");
    -ms-filter: url("#color_ag_cyan");
    -webkit-filter: url("#color_ag_cyan") brightness(1.2);
	filter: url("#color_ag_cyan");
}

.anaglyph-image .red {
 	-webkit-filter: url("#color_ag_red") brightness(1.2) contrast(1.2);
    -moz-filter: url("#color_ag_red");
    -o-filter: url("#color_ag_red");
    -ms-filter: url("#color_ag_red");
    filter: url("#color_ag_red");
}

.grey .anaglyph-image .cyan {
    -moz-filter: url("#grey_ag_cyan");
    -o-filter: url("#grey_ag_cyan");
    -ms-filter: url("#grey_ag_cyan");
    -webkit-filter: url("#grey_ag_cyan");
	filter: url("#grey_ag_cyan");
}

.grey .anaglyph-image .red {
 	-webkit-filter: url("#grey_ag_red");
    -moz-filter: url("#grey_ag_red");
    -o-filter: url("#grey_ag_red");
    -ms-filter: url("#grey_ag_red");
    filter: url("#grey_ag_red");
}

.defs-only {
	display: none;
}
