/*
 * 2015-2016 u451f
 */

.anaglyph, .anaglyph a {
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-ms-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
	letter-spacing: 0.05em;
	color: rgba(255, 0, 0, 0.5);
	text-shadow: 5px 0 0 rgba(0, 255, 255, 0.5);
}

/* adjust margins because we hide the skew of the images like this */
.anaglyph h1,
.anaglyph h2,
.anaglyph h3,
.anaglyph p,
.anaglyph blockquote,
.anaglyph pre {
	margin-left: 25px;
	margin-right: 25px;
}

.anaglyph ol,
.anaglyph ul {
	margin-left: 40px;
	margin-right: 25px;
}

.anaglyph a:hover {
	text-shadow: 5px 0 0 rgba(0, 255, 255, 0.9);
}

.anaglyph-image {
	position: relative;
	max-width: 100%;
	height: auto;
	overflow: hidden;
    box-sizing: border-box;
    margin: 0 auto 2.5em;
}

.anaglyph-image:before {
	content: " ";
	height: 100%;
	width: 25px;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 99;
}

.anaglyph-image:after {
	content: " ";
	height: 100%;
	width: 25px;
	position: absolute;
	top: 0;
	right: 0;
	background: #fff;
}

.anaglyph-image img {
	width: 100%;
	height: auto;
}

.anaglyph-translate .red {
	-moz-transform: skewX(-2deg) skewY(0) translate3d(-8px,0px,0px);
	-webkit-transform: skewX(-2deg) skewY(0) translate3d(-8px,0px,0px);
    transform: skewX(-2deg) skewY(0) translate3d(-8px,0px,0px);
	transform-origin: center center;
}

.anaglyph-image .red {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;
}

.anaglyph-image .cyan {
    -moz-filter: url("#color_ag_cyan") brightness(1.2) saturate(110%) !important;
    -o-filter: url("#color_ag_cyan") brightness(1.2) saturate(110%) !important;
    -ms-filter: url("#color_ag_cyan") brightness(1.2) saturate(110%) !important;
    -webkit-filter: url("#color_ag_cyan") brightness(1.2) saturate(110%) !important;
	filter: url("#color_ag_cyan") brightness(1.2) saturate(110%) !important;
}

.anaglyph-image .red {
 	-webkit-filter: url("#color_ag_red") brightness(1.2) contrast(1.2) saturate(110%) !important;
    -moz-filter: url("#color_ag_red") brightness(1.2) contrast(1.2) saturate(110%) !important;
    -o-filter: url("#color_ag_red") brightness(1.2) contrast(1.2) saturate(110%) !important;
    -ms-filter: url("#color_ag_red") brightness(1.2) contrast(1.2) saturate(110%) !important;
    filter: url("#color_ag_red") brightness(1.2) contrast(1.2) saturate(110%) !important;
}

.defs-only {
	display: none;
}
