@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	line-height: 1.6em;
    margin: 2em auto 2em 12em;
    background-color: #fff;
}

h1, h2, h3, h4, h5,
p, blockquote, pre,
ul, ol {
	margin-bottom: 1em;
}

h1 {
	line-height: 1.6em;
    font-size: 1.6em;
    border-bottom: 0.25em solid;
    display: inline-block;
}

a {
	color: 000;
	text-decoration: none;
	border-bottom: 0.15em solid;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-ms-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

a:hover {
	color: #444;
}

span.caption {
    position: absolute;
    bottom: -1px;
    left: 0;
    padding: .5em 25px;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
	font-size: 1em;
}

.anaglyph .menu ul {
	list-style: none;
	margin-left: 25px;
}

.menu ul li {
	display: block;
	margin-bottom: 0.5em;
}

.header {
    position: fixed;
	background: #fff;
	width: 100%;
	top: 0;
	padding-top: 2em;
	padding-bottom: 0.1em;
	z-index: 99;
}

.sidebar {
	position: fixed;
	left: 0;
	top: 2.5em;
	width: 11em;
}

.content {
	padding-top: 5em;
}

.footer {

}
